            h1,h2,h3,h4 {
                /* background-color: rgb(137, 249, 117); */
                color: rgb(48, 53, 206)
            }
            .important {
                color: rgb(186, 1, 1);
                font-size: 30px;
            }
            .kapital {
                text-transform: uppercase;
            }
            #the-one {
                color: rgb(252, 83, 204);
            }
            #mrJones {
                background-color: rgb(35, 2, 25);
            }